$white: #fff;
$black: #333;
$green: #45B34A;
$red: #e74a3b;
$light-green: #f0faf2;
$paragraph: #6e6e6e;
$shadow:  0px 8px 35px rgba(18, 28, 45, 0.08);
$border: 1px solid rgba(0,0,0,.08);

// font-family
$font: 'Nunito', sans-serif;